


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: Arial, sans-serif;
    background-color: #3c6264;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    margin-top: 100px;
    background-color: white; /* Set the background color to white for the entire form */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

select,
input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0; /* Remove border radius to make the input fields single-line */
    font-size: 16px;
    background-color: transparent; /* Make the input fields transparent */
}

select {
    appearance: none;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}
